* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  /* border: 1px solid; */
}

body {
  /* background-color: black; */
}

header {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

img {
  display: block;
  width: 50%;
}

main {
  width: 95%;
  margin: auto;
}

table {
  margin: 50px 0px;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  border-style: solid;
  border-width: 8px 2px 0px 2px;
  border-color: #ececec;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #ececec;
}

tbody tr td {
  padding: 10px;
}

.nominativo {
  font-weight: bold;
  padding: 10px 0 5px 0;
}

.ingredienti {
  font-weight: 100;
}

.price {
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}
